<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments/account_navbar :: account_navbar}"></div>

<div th:if="${error != null}">
    <p class="text-danger">[[${error}]]</p>
</div>
<div th:if="${message != null}">
    <p class="text-warning">[[${message}]]</p>
</div>

<form th:action="@{/forgot_password}" method="post" class="uk-margin-medium-top"
      style="max-width: 520px; margin: 0 auto;">
    <div class="border border-secondary rounded p-5">
        <div class="uk-text-center uk-margin-bottom">
            <h2 class="uk-text-bold">Find Your Account</h2>
        </div>
        <div class="uk-text-center">
            <p>We will be sending a reset password link to your email.</p>
        </div>
        <div>
            <p>
                <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required
                       autofocus/>
            </p>
            <div class="form-group row">
                <p class="uk-margin-large-left">
                    <input type="submit" value="Send" class="uk-button uk-button-primary"/>
                </p>
                <div class="uk-margin-left"></div>
                <div class="uk-margin-large-left">
                    <a href="/login" class="uk-button uk-button-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>