<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <title>Schedule View</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<h1 class="uk-flex uk-margin-top uk-flex-center"></h1>
<!--<a th:text="${shift.date}" th:href="@{/user/home}?{nextStart}">Next</a>-->
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
        <thead th:object="${d}">
        <tr>
            <th>Employees</th>
            <!--Generating a th within a for loop -->
            <div th:each="date: ${shiftPage.dates()}">
                <th th:text="${#dates.dayOfWeekNameShort(date) + ' ' + #dates.monthNameShort(date) + '-' + #dates.day(date)}"></th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${shiftPage.managers()}">
            <td> <span th:text="${user.fullName}"></span><span class="uk-text-light" th:text="${' - ' + user.role}"></span></td>
            <td th:each="date: ${shiftPage.dates()}" th:text="${shiftPage.getShift(user, date).shift}"></td>
        </tr>
        <tr th:each="user: ${shiftPage.pcas()}">
            <td> <span th:text="${user.fullName}"></span><span class="uk-text-light" th:text="${' - ' + user.role}"></span></td>
                <td th:each="date: ${shiftPage.dates()}" th:text="${shiftPage.getShift(user, date).shift}"></td>
        </tr>
        <tr th:each="user: ${shiftPage.nurses()}">
            <td> <span th:text="${user.fullName}"></span><span class="uk-text-light" th:text="${' - ' + user.role}"></span></td>
                <td th:each="date: ${shiftPage.dates()}" th:text="${shiftPage.getShift(user, date).shift}"></td>
        </tr>
        <!--        <script th:inline="javascript">-->
        <!--            for (let dayCounter = 0; dayCounter < 8; i++) {-->
        <!--                -->
        <!--            }-->
        <!--        </script>-->
        </tbody>
    </table>
</div>
</body>
</html>