<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request a Shift Change</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="themes/custom/my_theme/dist/uikit.my_theme.min.css" />
    <script src="vendor/jquery.js"></script>
    <script src="dist/js/uikit.min.js"></script>
    <script src="dist/addons/js/datepicker.js"></script>
    <link rel="stylesheet" href="dist/addons/css/datepicker.css" />


    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

  <h1 style="font-family: 'Staatliches', cursive;">Request a Shift Change</h1>

<div class="form">
<form class="uk-form-horizontal uk-margin-large" th:action="@{/save_request}" method="post" th:object="${request_form}">

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Whose shift are you requesting to take?</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Some text..." th:field="*{fullName}">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-select">Shift</label>
        <div class="uk-form-controls" id="form-horizontal-select">
            <input type="radio" th:field="*{shift}" id="Day" class="form-control"
                   required value="Day"/>
            <label for="Day">Day</label><br>

            <input type="radio" th:field="*{shift}" class="form-control" id="Evening"
                   required value="Evening"/>
            <label for="Evening">Evening</label><br>

            <input type="radio" th:field="*{shift}" class="form-control" id="Night"
                   required value="Night"/>
            <label for="Night">Night</label><br>

        </div>
    </div>




    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Date of Shift</label>
        <div class="uk-form-controls">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                <input th:field="*{date}"class="uk-input" type="date" data-uk-datepicker="{format:'DD.MM.YYYY'}" placeholder="(DD/MM/YYYY)">
            </div>
        </div>
    </div>

    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type="submit">Submit</button>

</form>
</div>

</body>
</html>