<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Pending Shift Requests</title>
    <!-- UIkit CSS -->
    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<table class="uk-table uk-table-responsive uk-table-divider">
    <thead class="thead-dark">
    <tr>
        <th>Requestee</th>
        <th>Shift Date</th>
        <th>Shift Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request: ${userRequests}">
        <td th:text="${requestPage.getRequesteeFullName(request)}"></td>
        <td th:text="${requestPage.getShiftDate(request)}"></td>
        <td th:text="${requestPage.getShiftType(request)}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>