#forgot_password_pad {
    padding-left: 220px;
}

#sign_up_button {
    background-color: #42B72A;
}

#2nd_sign_up_button {
    background-color: #42B72A;
}

#login_font {

}

nav {
    background-color: #D7D9CE !important;
}