@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


#forgot_password_pad {
    padding-left: 220px;
}

#sign_up_button {
    background-color: #42B72A;
}

#2nd_sign_up_button {
    background-color: #42B72A;
}

#login_font {

}

h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
}

.form {
    padding: 30px;
}

#time_box {
    line-height: 1px;
    font-size: 20px;
    border-style: groove;
    border-width: 1.5px;
    border-color: black;
    width: 220px;
}

#time {
    font-size: 15px;
    line-height: 2px;
}