@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

#sign_up_button {
    background-color: #42B72A;
}

#2nd_sign_up_button {
    background-color: #42B72A;
}

#login_font {

}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

.form {
    padding: 30px;
}

#time_box {
    line-height: 1px;
    font-size: 20px;
    border-style: groove;
    border-width: 1.5px;
    border-color: black;
    width: 220px;
}

#time {
    font-size: 15px;
    line-height: 2px;
}

#request_form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align:center;

}

.gradient-background {
     background: rgb(2,0,36);
     background: linear-gradient(180deg, rgba(0,84,255,0.365983893557423) 0%, rgba(29,29,136,0.7497373949579832) 45%, rgba(2,0,36,1) 100%);
}

form .request {
  background-color: #3D3A4B;
  border: 1px solid #4A4A4A;
}

#request_container {
    align: center;
}

#wrapper {
  background-image: url( resources/static/images/staff.jpeg );
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 100%
}

img {
    width: 99.9%
}
#textbox {
  margin-top:50px;
  background-color: white;
  position: absolute;
  width: 650px;
  height: 600px;
  top: -12px;
  left: 370px;
  text-align: center;
  border-radius: 25px;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0.9;
}

.shifty-heading {
    padding-bottom: 20px;
}

		.striped {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 1rem 0;

			&-line {
				flex: auto;
				flex-basis: auto;
				border: none;
				outline: none;
				height: 2px;
				background: var(--color-grayish);
			}

			&-text {
				font-family: inherit;
				font-size: 1rem;
				font-weight: 500;
				line-height: inherit;
				color: var(--color-black);
				margin: 0 1rem;
			}
		}
        h6 span{
            background: #fff;
            padding: 0 10px;
        }

        .large-input {
            width: 570px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            padding: .375rem .75rem;
        }
.center {
    margin: 12px;
}

.subheader {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.radio-div {
    padding-left: 100px;
}